Repository kevanstuart/rebrickable-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, prettier '**/*.{md,mdx,json}' --write, git add ., lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx}": ["eslint src --ext js,ts --fix", "prettier 'src/**/*.[jt]s?(x)' --write"],
  "**/*.{md,mdx,json}": ["prettier '**/*.{md,mdx,json}' --write", "git add ."],
  "./yarn.lock": ["lockfile-lint -p ./yarn.lock -a yarn -t yarn -s"]
}

chore(baseApi): committing base API with Pino for tracking
  src/api/base.api.ts
Due: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write

feat(sets): added sets api code, tests and housekeeping changes
  .editorconfig
  .eslintrc
  .lintstagedrc.json
  dts-generator.json
  jest.config.js
  package.json
  src/__tests__/sets.spec.ts
  src/__tests__/utils.spec.ts
  src/api/base.api.ts
  src/api/index.ts
  src/api/main.api.ts
  src/api/set.api.ts
  src/constants/base.ts
  src/constants/base.types.ts
  src/constants/endpoints.ts
  src/constants/index.ts
  src/index.ts
  src/models/Common/index.ts
  src/models/Common/resource.ts
  src/models/Element/index.ts
  src/models/Part/index.ts
  src/models/Set/index.ts
  src/models/index.ts
  src/utils/querystring.ts
  tsconfig.eslint.json
  yarn.lock
Due: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, prettier '**/*.{md,mdx,json}' --write, git add ., lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(token): put placeholder in test
  src/__tests__/sets.spec.ts
Due: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write

chore(lint): linting files
  jest.config.js
  package.json
  src/__tests__/sets.data.ts
  src/__tests__/sets.spec.ts
  src/__tests__/utils.spec.ts
  src/api/base.api.ts
  src/api/main.api.ts
  src/api/set.api.ts
  src/constants/endpoints.ts
  src/index.ts
  src/models/Element/index.ts
  src/models/Part/index.ts
  src/models/Set/index.ts
  src/types/base.types.ts
  src/types/endpoints.ts
  src/types/index.ts
  src/utils/query-builder.ts
  src/utils/querystring.ts
  yarn.lock
Due: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, prettier '**/*.{md,mdx,json}' --write, git add ., lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

refactor(endpoints): improved endpoints structure and related code
  src/__tests__/utils.spec.ts
  src/api/set.api.ts
  src/types/endpoints.ts
  src/utils/query-builder.ts
Due: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write

chore(minifigs): all work up to 2023
  src/__tests__/minifigs.spec.ts
  src/__tests__/sets.data.ts
  src/api/minifigs.api.ts
  src/api/set.api.ts
  src/models/Common/resource.ts
  src/models/Minifig/index.ts
  src/models/index.ts
Due: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write

Inital commit for 2023 reset
  .changeset/README.md
  .changeset/config.json
  .editorconfig
  .eslintrc
  .github/workflows/main.yml
  .github/workflows/publish.yml
  .gitignore
  .husky/commit-msg
  .husky/common.sh
  .husky/pre-commit
  .huskyrc
  .lintstagedrc.json
  .npmignore
  .nvmrc
  .prettierignore
  .prettierrc.json
  commitlint.config.js
  dts-generator.json
  index.ts
  jest.config.js
  package.json
  pnpm-lock.yaml
  tsconfig.eslint.json
  tsconfig.json
  yarn.lock
Due: prettier '**/*.{md,mdx,json}' --write, git add ., lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

error in main git action - ERR_PNPM_LOCKFILE_CONFIG_MISMATCH
  .github/workflows/main.yml
Due: none

error in main git action - linting old test files
  src/__tests__/sets.data.ts
  src/__tests__/sets.spec.ts
  src/__tests__/utils.spec.ts
Due: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write

error in main git action - linting old src files
  src/api/base.api.ts
  src/api/index.ts
  src/api/main.api.ts
  src/api/set.api.ts
  src/index.ts
  src/models/Color/index.ts
  src/models/Common/external-id.ts
  src/models/Common/index.ts
  src/models/Common/resource.ts
  src/models/Element/index.ts
  src/models/Minifig/index.ts
  src/models/Part/index.ts
  src/models/PartCategory/index.ts
  src/models/Set/index.ts
  src/models/Theme/index.ts
  src/models/index.ts
  src/types/base.types.ts
  src/types/endpoints.ts
  src/types/index.ts
  src/utils/query-builder.ts
Due: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write

base src sets API and tests
  .changeset/config.json
  .github/workflows/main.yml
  .npmignore
  .nvmrc
  LICENSE
  package.json
  pnpm-lock.yaml
  src/api/base.ts
  src/api/sets.test.ts
  src/api/sets.ts
  src/endpoints.ts
  src/index.ts
  src/models/base.ts
  src/models/color.ts
  src/models/part.ts
  src/models/set.ts
  src/test/data/index.ts
  src/test/data/parts/data.ts
  src/test/data/sets.ts
  src/test/data/sets/alternates.ts
  src/test/data/sets/data.ts
  src/test/data/sets/inventory.ts
  src/test/data/sets/list.ts
  src/test/data/sets/minifigs.ts
  src/test/data/sets/parts.ts
  src/test/data/sets/single.ts
  src/test/setup.ts
  src/test/utils.ts
  src/utils/getApiQueryUrlFromParams.test.ts
  src/utils/getApiQueryUrlFromParams.ts
  src/utils/getQueryStringFromParams.test.ts
  src/utils/getQuerystringFromParams.ts
  src/utils/getUrlWithIdentifiers.test.ts
  src/utils/getUrlWithIdentifiers.ts
  vite.config.ts
Due: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, prettier '**/*.{md,mdx,json}' --write, git add .

error in main git action - forgot to add run command for ci
  .github/workflows/main.yml
Due: none

error in main git action - tests not passing
  src/utils/getUrlWithIdentifiers.test.ts
Due: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write

improved type definition and tests
  src/api/sets.test.ts
  src/api/sets.ts
  src/models/base.ts
  src/models/index.ts
  src/models/set.ts
  src/test/utils.ts
  src/utils/getQueryStringFromParams.test.ts
  src/utils/getUrlWithIdentifiers.test.ts
Due: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write
